﻿@model AccountVM.UserLogin
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutInit.cshtml";
}
<div class="card p-3">
    <form asp-action="Login" asp-controller="Account" method="post">
        @*<div asp-validation-summary="ModelOnly" class="text-danger alert-danger"></div>*@
        <div class="form-group">
            <div class="alert alert-success">@Html.ValidationMessage("success")</div>
            <div class="alert alert-danger">@Html.ValidationMessage("error")</div>
        </div>

        <div class="form-group">
            <input placeholder="Username" class="form-control" asp-for="Username" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <input placeholder="Password" class="form-control" asp-for="Password" type="password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".field-validation-error").each(function () {
                if ($(this).html().trim() === "");
                $(this).closest(".alert").hide();
            });
        })
    </script>
}


